.viz2-section-explanation {
  font-family: lgc-regular;
}

h1, h2 {
    margin-bottom: 20px;
}

/* Grid styling */
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjusted to fit five images per row */
    gap: 5px; /* Reduced gap between images */
    margin-bottom: 20px;
}

.grid img {
    width: 120px; /* Adjust width to fit better within five columns */
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}

.weapon-container {
    text-align: center;
}

.weapon-container img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}

.weapon-name {
    margin-top: 5px;
    font-family: 'Arial', sans-serif; /* Example font, you can choose another */
    font-size: 14px;
    font-weight: bold;
    color: #eb8c34;
}

/* Chart container styling */
.chart-container {
    display: none;
    text-align: center;
}

.chart-and-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
}

.chart-container img {
    margin: 10px;
}

#PistolsStaticImage, #SMGsStaticImage, #RiflesStaticImage, #HeaviesStaticImage {
    width: 150px;
    height: 300px; /* Increased height of static images */
    margin-left: 20px;
}

#pistolsSelectedImage, #SMGsSelectedImage, #RiflesSelectedImage, #HeaviesSelectedImage{
    width: 180px;
    height: 150px; /* Increased height of static images */
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #eb8c34;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.back-button:hover {
    background-color: #eb8c34;
}


.comparison-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.selector {
    margin: 0 10px;
}

button {
    margin: 0 10px;
}



.comparison-image-container img {
    width: 150px;
    height: 120px;
}

.comparison-chart-and-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
}


.comparison {
    display: none;
    flex-direction: column; /* Ensure content is in a column */
    align-items: center;
    margin-top: 20px;
}

.comparison-row {
    display: flex; /* Ensure the row items are in a row */
    justify-content: space-between;
    width: 100%; /* Make sure the row takes the full width */
    align-items: center;
}

.comparison-image-container {
    display: flex;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

#comparison-chart {
    flex-grow: 1; /* Allow the chart to take up remaining space */
}